
.welcomeMessage {
    font-weight:bold;
    font-size: 2em;
    margin-bottom: 7%;
    margin-top: 3%;
    color: rgb(49, 56, 56);
    text-align: center;
}



  .petCardHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 35px;
    margin-top: -50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .petName {
    font-weight: 300;
  }

  .addPetLink {
    margin-top: 25px;
    font-size: 25px;
    color: rgba(255, 59, 63, 0.5);
  }

  .newPetLink {
      text-decoration: none;
      color: white;
  }
  .newPetButton {
	  display: block;
	  padding: 10px 15px 10px 15px;
	  color: #FFF; 
    background-color: rgb(118, 119, 86);
	  font-size: 18px;
	  text-align: center;
	  font-style: normal;
	  width: 10%;
    border-radius: 15px;
	  border: gray;
    margin-top: 50px;
    cursor: pointer;
	  box-shadow: 3px 3px 5px 1px rgba(0,0,0,.6);
    margin-right: auto;
    margin-left: auto;
  }
  