.petCardHolder {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.welcomeMessage {
    font-weight:bold;
    font-size: 2em;
    margin-bottom: 7%;
    margin-top: 3%;
    color: rgb(49, 56, 56);
    margin-left: 3%;
}

.custom-shape-divider-top-1666820762 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
} 

.custom-shape-divider-top-1666820762 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 269px;
} 

.custom-shape-divider-top-1666820762 .shape-fill {
    fill: #bce7f1;
} 
.divider-wrapper {
    position: relative;
    margin-top: 9%;
    background-color: #EFEFEF;
} 

  .petCardHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -50px;

  }
  .petName {
    font-weight: 300;
  }

  .addPetLink {
    margin-top: 25px;
    font-size: 25px;
    color: rgba(255, 59, 63, 0.5);
  }

  .newPetLink {
      text-decoration: none;
      color: white;
  }
  .newPetButton {
	  display: block;
	  padding: 10px 15px 10px 15px;
	  color: #FFF; 
    background-color: rgb(118, 119, 86);
	  font-size: 18px;
	  text-align: center;
	  font-style: normal;
	  width: 10%;
    border-radius: 7px;
	  border: none;
    margin-top: 50px;
    cursor: pointer;
	  box-shadow: 3px 3px 8px 1px rgba(0,0,0,.5);
  }
  