.imgholder{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.imgholder img{
    width:426px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #8b5e57;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
}

.petTable {
    width: 33%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #8b5e57;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
    margin-top: 30px;

}
.tableRow {
    font-weight: bold;
    font-size: 20px;
}
.petTable td {
    border: 1px solid #8b5e57;
}
.backButton {
    background-color: rgb(118, 119, 86);
	text-decoration: none;
	border: 1px solid grey;
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
    margin-top: 50px;
    margin-bottom: 25px;
}
.backButton:hover {
    background-color: rgb(228, 228, 164);
	border: 1px solid grey;
	box-shadow: 3px 3px 8px 1px rgba(0,0,0,.5);
	text-decoration: none;
}


