.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 219, 176, 0.2); 
    height: 7vh;
}

.navBar ul{
    display: flex;
}
.navBar li {
    list-style: none;
    color: white;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: rgb(57, 58, 58);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 60px;
}
.navWelcome {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #B56357;

}
img {
    width: 10%;
}
.logo {
   width: 10%;
   margin-bottom: 8px;
}