.registerBody{
	background-color: #f6f5e8;
}

.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
    font-family: 'Lato', sans-serif;
}

        
.form-style-5 fieldset{
	border: none;
    color:#686060;
    font-family: 'Lato', sans-serif;
}
.form-style-5 legend {
	font-size: 1.3em;
	margin-bottom: 30px;
	color: rgb(66, 83, 83);
	font-weight: bold;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
	margin-left: 10px;
	color: rgb(66, 83, 83);
	font-weight: 500;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: 'Lato', sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #eeedea;
	color:#686060;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #e5e7e5;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height: 40px;
}
.form-style-5 .number {
	background: #B56357;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 10px 15px 10px 15px;
	color: #FFF;
	margin: 0 auto;
	background: #B56357;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 33%;
    border-radius: 7px;
	border: none;
	margin-bottom: 50px;
    cursor: pointer;
	box-shadow: 3px 3px 8px 1px rgba(0,0,0,.5);
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #EAE3EA;
    color: black;
}

.checkboxHolder {
    display: flex;
    margin-bottom: 20px;
}
.register-text {
    margin-right: 10px;
    color: #586165;

    
}
.checkbox {
    margin-bottom: 7px;
}
::placeholder {
    color: #586165;
    font-family: 'Lato', sans-serif;
    opacity: 1; 
  }
  .formHeader {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    color: rgb(66, 83, 83);
	font-weight: 600;
  }
  .bioImage {
	display: block;
  	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #B56357;
	margin-bottom: 50px;
	border-radius: 10px;
  
  }
