@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(66, 83, 83);
  background-color: #f6f5e8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(66, 83, 83);
}

h1 {
    text-align: center;
    color: rgb(66, 83, 83);
	  font-weight: 600;
    margin-bottom: 3%;
    margin-top: 3%;
}

button {
  font-family: 'Josefin Sans', sans-serif;
}