.cardHolder {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.welcomeMessage {
    margin-bottom: 7%;
    margin-top: 3%;
    color: rgb(49, 56, 56);
    margin-left: 3%;
}

.custom-shape-divider-top-1666820762 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
} 

.custom-shape-divider-top-1666820762 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 269px;
} 

.custom-shape-divider-top-1666820762 .shape-fill {
    fill: rgba(181, 99, 87, 0.3);
} 
.divider-wrapper {
    position: relative;
    margin-top: 5%;
    background-color: #EFEFEF;
} 

.deleteButton {
    display: block;
	padding: 10px 15px 10px 15px;
	color: rgb(57, 58, 58);
    margin-left: 50px;
    margin-top: 150px;
	background: rgba(217, 219, 176, 0.9);
	font-size: 14px;
	text-align: center;
	font-style: normal;
	width: 7%;
    border-radius: 7px;
	border: none;
    cursor: pointer;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
  }