.cardHolder {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;

}

.welcomeMessage {
    margin-bottom: 7%;
    margin-top: 3%;
    color: rgb(49, 56, 56);
    margin-left: 3%;
}